go 1.22.0

use (
	./01_hello_quote
	./02_data_type_sizes
	./03_input_output
	./04_calculator
	./05_random_dice
	./06_time
	./07_pointers_references
	./08_arrays
	./09_slices
	./10_maps
	./11_structs
	./12_loops_conditionals
	./13_file_handling
	./14_contact_manager
	./15_web_requests
	./16_url_handling
	./17_http_server
	./18_http_client
	./19_json_handling
	./20_build_api
	./21_mongo_api
	./22_goroutines
	./23_mutex_race
	./24_channels
)
